body{
      font-family: 'Orbitron', sans-serif;
      font-size: 50px;
      text-align: center;
      background-color: rgb(56, 60, 57);
    }

    .tasto{
      border-color: #30cb29;
      border: solid 3px;
      height: 100px;
      color: #30cb29;
      background-color: black;
    }
    .scocca{
      margin-top: 5%;
    }
    .screen{
      color: #30cb29;
      height: 100px;
      background-color: rgb(56, 60, 57);
      border: solid 3px;
      border-color: #30cb29;
    }

    .tasto:hover{
      background-color: #30cb29;
      color: black;
    }

    .tasto:active{
      background-color: #30cb29;
      border: 0;

    }

    .clear{
      background-color: #d12b2b;
    }
    .clear:hover{
      background-color: #f51010;
    }

    .operator{
      background-color: #30cb29;
      color: black;
    }
    .operator:hover{
        background-color: black;
        color: #30cb29;
    }

    .eval{
      background-color: #30cb29;
      color: black;
    }
    .eval:hover{
      background-color: black;
      color: #30cb29;
    }

    .btn-group{
      margin-top: 10%;

    }
  .dropdown-toggle{
    color: #30cb29;
    background-color: black;
    border-color: #30cb29;
    border-radius: 0;
  }

    .dropdown-toggle:hover{
      color: black;
      background-color: #30cb29;
      border-color: black;
    }

    .dropdown-toggle:active{
      color: black;
      background-color: #30cb29;
      border-color: black;
    }

  .navbar{
    background-color: black;
    border-color: #30cb29;
    border-radius: 0;
  }

  .dropdown-menu{
    color: black;
    background-color: #30cb29;
    border-color: black;
  }

@import url("https://fonts.googleapis.com/css?family=Orbitron:400,700,900");